<div style="height: 100%">
	<as-split direction="horizontal">
		<as-split-area size="20">
			<as-split direction="vertical">
				<as-split-area size="60">
					<div>
						<mat-tab-group>
							<mat-tab label="Project Explorer">
								<mat-list>
									<mat-list-item>project1</mat-list-item>
									<mat-list-item>project2</mat-list-item>
									<mat-list-item>project3</mat-list-item>
									<mat-list-item>project4</mat-list-item>
									<mat-list-item>project5</mat-list-item>
								</mat-list>
							</mat-tab>
						</mat-tab-group>
					</div>
				</as-split-area>
				<as-split-area size="40">
					<div>
						<mat-tab-group>
							<mat-tab label="Servers">
								<mat-list-item>Tomcat server1</mat-list-item>
								<mat-list-item>Tomcat server2</mat-list-item>
								<mat-list-item>django Server</mat-list-item>
							</mat-tab>
							<mat-tab label="Git Repository">
								Git
							</mat-tab>
						</mat-tab-group>
					</div>
				</as-split-area>
			</as-split>
		</as-split-area>
		<as-split-area size="80">
			<as-split direction="vertical">
				<as-split-area size="70">
					<div>
						<mat-tab-group>
							<mat-tab label="first.html">
								<div style="overflow: hidden;text-decoration: none; border: none;"
									contenteditable="true">
									Hello
								</div>
							</mat-tab>
							<mat-tab label="first.ts">
								body
							</mat-tab>
							<mat-tab label="first.css">
								body
							</mat-tab>
						</mat-tab-group>
					</div>
				</as-split-area>
				<as-split-area size="30">
					<div>
						<mat-tab-group>
							<mat-tab label="console">
								console
							</mat-tab>
							<mat-tab label="Terminal">
								terminal
							</mat-tab>
							<mat-tab label="markers">
								markers
							</mat-tab>
						</mat-tab-group>
					</div>
				</as-split-area>
			</as-split>
		</as-split-area>
	</as-split>
</div>