<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="1%">
	<div fxFlex="80">
		<mat-card>
			<mat-card-content>
				<div class="online">
					<div mat-card-avatar class="example-header-image" style="float: left; color: blueviolet"></div>
					<div style="float: left; color: blueviolet">
						Hi John!
					</div>
					<br>
				</div>
				<div class="online">
					<div mat-card-avatar class="example-header-image" style="float: left; color: blueviolet"></div>
					<div style="float: left; color: blueviolet">
						How are you
					</div>
					<br>
				</div>
				<div class="online">
					<div mat-card-avatar class="example-header-image" style="float: right; color: blueviolet"></div>
					<div style="float: right; color: blueviolet">
						Hi harish
					</div>
					<br>
				</div>
				<div class="online">
					<div mat-card-avatar class="example-header-image" style="float: right; color: blueviolet"></div>
					<div style="float: right; color: blueviolet">
						I'm fine
					</div>
					<br>
				</div>
				<br>
				<div class="online">
					<div mat-card-avatar class="example-header-image" style="float: left; color: blueviolet"></div>
					<div style="float: left; color: blueviolet">
						we are planning to goa
					</div>
					<br>
				</div>
				<div class="online">
					<div mat-card-avatar class="example-header-image" style="float: left; color: blueviolet"></div>
					<div style="float: left; color: blueviolet">
						are you coming
					</div>
					<br>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<div fxFlex="80">
		<mat-card>
			<mat-card-content>
				<!-- <ng-chat [adapter]="adapter" [userId]="userId"></ng-chat> -->
			</mat-card-content>
		</mat-card>
	</div>
</div>