:host ::ng-deep .component-tab .mat-tab-group {
  flex-direction: row;
}

:host ::ng-deep .component-tab .mat-tab-header {
  border-bottom: none;
}

:host ::ng-deep .component-tab .mat-tab-header-pagination {
  display: none !important;
}

:host ::ng-deep .component-tab .mat-tab-labels {
  flex-direction: column;
}

:host ::ng-deep .component-tab .mat-ink-bar {
  height: 100%;
  left: 98% !important;
}

:host ::ng-deep .component-tab .mat-tab-body-wrapper {
  flex: 1 1 auto;
}

.version-log li {
	font-size: 16px;
	font-family: Loto;
}

.version-log mat-chip {
	color: white;
	padding: 5px;
}

::nd-deep .version-inputs input{
  outline-style: none;
  border: 1px solid blue;
  padding: 20px;
  margin: 10px;
}