<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="1%">
	<div fxFlex="80">
		<mat-card>
			<mat-card-title> SENT MAILS</mat-card-title>
		</mat-card>
	</div>
	<div fxFlex="80">
		<div *ngFor="let item of [1,2,3,4]" >
			<mat-card appMaterialElevation >
				<mat-card-content>
					<div class="online">
						<mat-checkbox [(ngModel)]="checkbox"></mat-checkbox>
					</div>
					<div class="online">
						<input class="star" type="checkbox" title="bookmark">
					</div>
					<div class="online">
						<div mat-card-avatar class="example-header-image"></div>
					</div>
					<div class="online" [routerLink]="['/email/mail']" routerLinkActive="router-link-active" >
						<mat-card-title style="color: #727E8C">Card Title</mat-card-title>
						<mat-card-subtitle style="color: #727E8C">This card changes elevation when you hover over it!</mat-card-subtitle>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
