<div fxLayout="row wrap" fxLayoutAlign="center start">
	<div fxFlex="100">
		<div
			style="color: white; height: 20%; background-color: brown; padding: 5%; align-items: center; text-align: center; display: flex; flex-direction: column; padding-bottom: 10%;">
			<div>
				<h3>Sample Pricing</h3>
			</div>
			<div style="margin-top: 10px; max-width: 400px;">
				The most advanced customer support tools with a simple and affordable pricing. And you can always try
				for 30 days, free!
			</div>
		</div>
	</div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center start" *ngIf="styleId==0">
	<div fxFlex="20" style="margin-top: -7%;">
		<mat-card style="padding:0; margin: 2%;">
			<mat-card-header style="background-color: #464a62; padding: 10%; color: white;">
				<mat-card-title>BASIC</mat-card-title>
			</mat-card-header>
			<mat-divider></mat-divider>
			<mat-card-content style="padding: 4%;">
				<div style="text-align: center;padding: 7% 0;">
					<h1 style="display: inline-block;">₹ 4</h1><span style="display: inline-block;">/month</span>
				</div>
				<mat-divider></mat-divider>
				<div style="padding: 20% 10%; font-size: medium;">
					<b>10</b><span> Projects</span><br>
					<b>10</b><span> Pages</span><br>
					<b>100</b><span> Mb Disk Space</span><br>
				</div>
			</mat-card-content>
			<mat-divider></mat-divider>
			<mat-card-actions style="text-align: center;padding: 5%;">
				<button mat-flat-button color="primary">BUY NOW</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<div fxFlex="20" style="margin-top: -7%;">
		<mat-card style="padding:0; margin: 2%;">
			<mat-card-header style="background-color: #464a62; padding: 10%; color: white;">
				<mat-card-title>Advanced</mat-card-title>
			</mat-card-header>
			<mat-divider></mat-divider>
			<mat-card-content style="padding: 4%;">
				<div style="text-align: center;padding: 7% 0;">
					<h1 style="display: inline-block;">₹ 4</h1><span style="display: inline-block;">/month</span>
				</div>
				<mat-divider></mat-divider>
				<div style="padding: 20% 10%; font-size: medium;">
					<b>10</b><span> Projects</span><br>
					<b>10</b><span> Pages</span><br>
					<b>100</b><span> Mb Disk Space</span><br>
				</div>
			</mat-card-content>
			<mat-divider></mat-divider>
			<mat-card-actions style="text-align: center;padding: 5%;">
				<button mat-flat-button color="primary">BUY NOW</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<div fxFlex="20" style="margin-top: -7%;">
		<mat-card style="padding:0; margin: 2%;">
			<mat-card-header style="background-color: #464a62; padding: 10%; color: white;">
				<mat-card-title>Enterprise</mat-card-title>
			</mat-card-header>
			<mat-divider></mat-divider>
			<mat-card-content style="padding: 4%;">
				<div style="text-align: center;padding: 7% 0;">
					<h1 style="display: inline-block;">₹ 4</h1><span style="display: inline-block;">/month</span>
				</div>
				<mat-divider></mat-divider>
				<div style="padding: 20% 10%; font-size: medium;">
					<b>10</b><span> Projects</span><br>
					<b>10</b><span> Pages</span><br>
					<b>100</b><span> Mb Disk Space</span><br>
				</div>
			</mat-card-content>
			<mat-divider></mat-divider>
			<mat-card-actions style="text-align: center;padding: 5%;">
				<button mat-flat-button color="primary">BUY NOW</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center start" *ngIf="styleId==2">
	<div fxFlex="20" style="margin-top: -7%;">
		<mat-card style="padding:0; margin: 2%;">
			<mat-card-content>
				<div style="padding: 10%; text-align: center; font-size: medium;">
					<mat-card-title>Starter</mat-card-title>
					<span> For small team</span>
				</div>
				<div style="text-align: center;background-color: #464a62; padding: 5%;color: white;">
					<h4 style="display: inline-block;">₹ 29</h4><span style="display: inline-block;">/month</span>
				</div>
				<mat-divider></mat-divider>
				<div style="padding: 10%; font-size: medium; text-align: center;">
					<div style="color: gray;">Unlimited Projects</div><br>
					<div style="color: gray;">Unlimited Pages</div><br>
					<div style="color: gray;">Unlimited Mb Disk Space</div><br>
					<div style="color: gray;">24 / 7 Free support</div>
				</div>
				<br>
				<div style="color: grey; text-align: center;padding: 5%;">
					<button mat-flat-button color="accent">BUY NOW</button> <br>
					<div>
						<span> 90 day free trail start </span>
					</div>
				</div>
			</mat-card-content>

		</mat-card>
	</div>
	<div fxFlex="20" style="margin-top: -10%;">
		<mat-card style="padding:0; margin: 2%;">
			<mat-card-content>
				<div style="padding: 10%; text-align: center; font-size: medium;">
					<mat-card-title>Pro</mat-card-title>
					<span> For Large team</span>
				</div>
				<div style="text-align: center;background-color: #464a62; padding: 5%;color: white;">
					<h4 style="display: inline-block;">₹ 59</h4><span style="display: inline-block;">/month</span>
				</div>
				<mat-divider></mat-divider>
				<div style="padding: 10%; font-size: medium; text-align: center;">
					<div style="color: gray;">Unlimited Projects</div><br>
					<div style="color: gray;">Unlimited Pages</div><br>
					<div style="color: gray;">Unlimited Mb Disk Space</div><br>
					<div style="color: gray;">24 / 7 Free support</div>
					<div style="color: gray;">Advanced reporting</div><br>
					<div style="color: gray;">Customizable interface</div><br>
					<div style="color: gray;">CRM Integration</div><br>
				</div>
				<br>
				<div style="color: grey; text-align: center;padding: 5%;">
					<button mat-flat-button color="accent">BUY NOW</button> <br>
					<div>
						<span> 90 day free trail start </span>
					</div>
				</div>
			</mat-card-content>

		</mat-card>
	</div>
	<div fxFlex="20" style="margin-top: -7%;">
		<mat-card style="padding:0; margin: 2%;">
			<mat-card-content>
				<div style="padding: 10%; text-align: center; font-size: medium;">
					<mat-card-title>Enterprise</mat-card-title>
					<span> For Big team</span>
				</div>
				<div style="text-align: center;background-color: #464a62; padding: 5%; color: white;">
					<h4 style="display: inline-block;">₹ 99</h4><span style="display: inline-block;">/month</span>
				</div>
				<mat-divider></mat-divider>
				<div style="padding: 10%; font-size: medium; text-align: center;">
					<div style="color: gray;">Unlimited Projects</div><br>
					<div style="color: gray;">Unlimited Pages</div><br>
					<div style="color: gray;">Unlimited Mb Disk Space</div><br>
					<div style="color: gray;">24 / 7 Free support</div>
				</div>
				<br>
				<div style="color: grey; text-align: center;padding: 5%;">
					<button mat-flat-button color="accent">BUY NOW</button> <br>
					<div>
						<span> 90 day free trail start </span>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center start" *ngIf="styleId==3">
	<div fxFlex="20" style="margin-top: -7%;">
		<mat-card style="padding:0; margin: 2%;">
			<mat-card-content>
				<div style="padding: 5%; text-align: center; font-size: medium; color: orange;">
					<mat-card-title>Silver Package</mat-card-title>
				</div>
				<div style="text-align: center;padding: 0px;">
					<h1 style="display: inline-block;">₹ 29</h1><span style="display: inline-block;">/month</span>
				</div>
				<mat-divider></mat-divider>
				<div style="padding: 10%; font-size: medium; text-align: center;">
					<div style="color: gray;">Unlimited Projects</div><br>
					<div style="color: gray;">Unlimited Pages</div><br>
					<div style="color: gray;">Unlimited Mb Disk Space</div><br>
					<div style="color: gray;">24 / 7 Free support</div>
				</div>
				<br>
				<div style="color: grey; text-align: center;padding: 5%;">
					<button mat-flat-button color="accent">BUY NOW</button> <br>
					<div>
						<span> 90 day free trail start </span>
					</div>
				</div>
			</mat-card-content>

		</mat-card>
	</div>
	<div fxFlex="20" style="margin-top: -10%;">
		<mat-card style="padding:0; margin: 2%;">
			<mat-card-content>
				<div style="padding: 5%; text-align: center; font-size: medium; color: gold;">
					<mat-card-title> Gold Package</mat-card-title>
				</div>
				<div style="text-align: center;padding: 0px;">
					<h1 style="display: inline-block;">₹ 59</h1><span style="display: inline-block;">/month</span>
				</div>
				<mat-divider></mat-divider>
				<div style="padding: 10%; font-size: medium; text-align: center;">
					<div style="color: gray;">Unlimited Projects</div><br>
					<div style="color: gray;">Unlimited Pages</div><br>
					<div style="color: gray;">Unlimited Mb Disk Space</div><br>
					<div style="color: gray;">24 / 7 Free support</div>
					<div style="color: gray;">Advanced reporting</div><br>
					<div style="color: gray;">Customizable interface</div><br>
					<div style="color: gray;">CRM Integration</div><br>
				</div>
				<br>
				<div style="color: grey; text-align: center;padding: 5%;">
					<button mat-flat-button color="accent">BUY NOW</button> <br>
					<div>
						<span> 90 day free trail start </span>
					</div>
				</div>
			</mat-card-content>

		</mat-card>
	</div>
	<div fxFlex="20" style="margin-top: -7%;">
		<mat-card style="padding:0; margin: 2%;">
			<mat-card-content>
				<div style="padding: 5%; text-align: center; font-size: medium; color: green;">
					<mat-card-title>Platinum Package</mat-card-title>
				</div>
				<div style="text-align: center; padding: 0px;">
					<h1 style="display: inline-block;">₹ 99</h1><span style="display: inline-block;">/month</span>
				</div>
				<mat-divider></mat-divider>
				<div style="padding: 10%; font-size: medium; text-align: center;">
					<div style="color: gray;">Unlimited Projects</div><br>
					<div style="color: gray;">Unlimited Pages</div><br>
					<div style="color: gray;">Unlimited Mb Disk Space</div><br>
					<div style="color: gray;">24 / 7 Free support</div>
				</div>
				<br>
				<div style="color: grey; text-align: center;padding: 5%;">
					<button mat-flat-button color="accent">BUY NOW</button> <br>
					<div>
						<span> 90 day free trail start </span>
					</div>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	</div>