<div>
	<div>
		<mat-tab-group>
			<mat-tab label="headings">

				<div fxLayout="row wrap">
					<div fxFlex="80">
						<mat-card>
							<mat-card-header>
								<mat-accordion
									style="border: 1px solid #dcd4d4;box-shadow: 5px 10px #888888;width: 100%">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											Display
										</mat-expansion-panel-header>
										<mat-panel-description>
											<mat-tab-group>
												<mat-tab label="HTML">
													<div class="row">
														<div class="col-sm-16">
															<textarea highlight-js>
										<span class="mat-display-3">Display 3</span>
									</textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="TS">
													<div class="row">
														<div class="col-sm-18">
															<textarea highlight-js>
import { HighlightJsModule } from 'ngx-highlight-js';
@NgModule({
  imports: [ HighlightJsModule ],
  bootstrap: [AppComponent]
})
export class AppModule {
}
        </textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="CSS">
													style here
												</mat-tab>
											</mat-tab-group>
										</mat-panel-description>
									</mat-expansion-panel>
									<mat-panel-description>
										<span class="mat-display-3">Display 3</span>
									</mat-panel-description>
								</mat-accordion>
							</mat-card-header>
						</mat-card>
					</div>
				</div>

				<div fxLayout="row wrap">
					<div fxFlex="80">
						<mat-card>
							<mat-card-header>
								<mat-accordion
									style="border: 1px solid #dcd4d4;box-shadow: 5px 10px #888888;width: 100%">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											Display
										</mat-expansion-panel-header>
										<mat-panel-description>
											<mat-tab-group>
												<mat-tab label="HTML">
													<div class="row">
														<div class="col-sm-16">
															<textarea highlight-js>
										<span class="mat-headline">Headline</span>
									</textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="TS">
													<div class="row">
														<div class="col-sm-18">
															<textarea highlight-js>
import { HighlightJsModule } from 'ngx-highlight-js';
@NgModule({
  imports: [ HighlightJsModule ],
  bootstrap: [AppComponent]
})
export class AppModule {
}
        </textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="CSS">
													style here
												</mat-tab>
											</mat-tab-group>
										</mat-panel-description>
									</mat-expansion-panel>
									<mat-panel-description>
										<span class="mat-headline">Headline</span>
									</mat-panel-description>
								</mat-accordion>
							</mat-card-header>
						</mat-card>
					</div>
				</div>

				<div fxLayout="row wrap">
					<div fxFlex="80">
						<mat-card>
							<mat-card-header>
								<mat-accordion
									style="border: 1px solid #dcd4d4;box-shadow: 5px 10px #888888;width: 100%">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											Display
										</mat-expansion-panel-header>
										<mat-panel-description>
											<mat-tab-group>
												<mat-tab label="HTML">
													<div class="row">
														<div class="col-sm-16">
															<textarea highlight-js>
										<span class="h1">Heading 1</span>
									</textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="TS">
													<div class="row">
														<div class="col-sm-18">
															<textarea highlight-js>
import { HighlightJsModule } from 'ngx-highlight-js';
@NgModule({
  imports: [ HighlightJsModule ],
  bootstrap: [AppComponent]
})
export class AppModule {
}
        </textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="CSS">
													style here
												</mat-tab>
											</mat-tab-group>
										</mat-panel-description>
									</mat-expansion-panel>
									<mat-panel-description>
										<span class="h1">Heading 1</span>
									</mat-panel-description>
								</mat-accordion>
							</mat-card-header>
						</mat-card>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Inline  Text Elements">

				<div fxLayout="row wrap">
					<div fxFlex="80">
						<mat-card>
							<mat-card-header>
								<mat-accordion
									style="border: 1px solid #dcd4d4;box-shadow: 5px 10px #888888;width: 100%">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											Display
										</mat-expansion-panel-header>
										<mat-panel-description>
											<mat-tab-group>
												<mat-tab label="HTML">
													<div class="row">
														<div class="col-sm-16">
															<textarea highlight-js>
										This is a <mark>marked</mark> text.
									</textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="TS">
													<div class="row">
														<div class="col-sm-18">
															<textarea highlight-js>
import { HighlightJsModule } from 'ngx-highlight-js';
@NgModule({
  imports: [ HighlightJsModule ],
  bootstrap: [AppComponent]
})
export class AppModule {
}
        </textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="CSS">
													style here
												</mat-tab>
											</mat-tab-group>
										</mat-panel-description>
									</mat-expansion-panel>
									<mat-panel-description>
										This is a <mark>marked</mark> text.
									</mat-panel-description>
								</mat-accordion>
							</mat-card-header>
						</mat-card>
					</div>
				</div>

				<div fxLayout="row wrap">
					<div fxFlex="80">
						<mat-card>
							<mat-card-header>
								<mat-accordion
									style="border: 1px solid #dcd4d4;box-shadow: 5px 10px #888888;width: 100%">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											Display
										</mat-expansion-panel-header>
										<mat-panel-description>
											<mat-tab-group>
												<mat-tab label="HTML">
													<div class="row">
														<div class="col-sm-16">
															<textarea highlight-js>
										<del>This is a deleted text.</del>
									</textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="TS">
													<div class="row">
														<div class="col-sm-18">
															<textarea highlight-js>
import { HighlightJsModule } from 'ngx-highlight-js';
@NgModule({
  imports: [ HighlightJsModule ],
  bootstrap: [AppComponent]
})
export class AppModule {
}
        </textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="CSS">
													style here
												</mat-tab>
											</mat-tab-group>
										</mat-panel-description>
									</mat-expansion-panel>
									<mat-panel-description>
										<del>This is a deleted text.</del>
									</mat-panel-description>
								</mat-accordion>
							</mat-card-header>
						</mat-card>
					</div>
				</div>

				<div fxLayout="row wrap">
					<div fxFlex="80">
						<mat-card>
							<mat-card-header>
								<mat-accordion
									style="border: 1px solid #dcd4d4;box-shadow: 5px 10px #888888;width: 100%">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											Display
										</mat-expansion-panel-header>
										<mat-panel-description>
											<mat-tab-group>
												<mat-tab label="HTML">
													<div class="row">
														<div class="col-sm-16">
															<textarea highlight-js>
										
<s>This is a strike-through text.</s>
									</textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="TS">
													<div class="row">
														<div class="col-sm-18">
															<textarea highlight-js>
import { HighlightJsModule } from 'ngx-highlight-js';
@NgModule({
  imports: [ HighlightJsModule ],
  bootstrap: [AppComponent]
})
export class AppModule {
}
        </textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="CSS">
													style here
												</mat-tab>
											</mat-tab-group>
										</mat-panel-description>
									</mat-expansion-panel>
									<mat-panel-description>
										
<s>This is a strike-through text.</s>
									</mat-panel-description>
								</mat-accordion>
							</mat-card-header>
						</mat-card>
					</div>
				</div>

				<div fxLayout="row wrap">
					<div fxFlex="80">
						<mat-card>
							<mat-card-header>
								<mat-accordion
									style="border: 1px solid #dcd4d4;box-shadow: 5px 10px #888888;width: 100%">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											Display
										</mat-expansion-panel-header>
										<mat-panel-description>
											<mat-tab-group>
												<mat-tab label="HTML">
													<div class="row">
														<div class="col-sm-16">
															<textarea highlight-js>
										
<u>This is an underlined text.</u>
									</textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="TS">
													<div class="row">
														<div class="col-sm-18">
															<textarea highlight-js>
import { HighlightJsModule } from 'ngx-highlight-js';
@NgModule({
  imports: [ HighlightJsModule ],
  bootstrap: [AppComponent]
})
export class AppModule {
}
        </textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="CSS">
													style here
												</mat-tab>
											</mat-tab-group>
										</mat-panel-description>
									</mat-expansion-panel>
									<mat-panel-description>
										
<u>This is an underlined text.</u>
									</mat-panel-description>
								</mat-accordion>
							</mat-card-header>
						</mat-card>
					</div>
				</div>

				<div fxLayout="row wrap">
					<div fxFlex="80">
						<mat-card>
							<mat-card-header>
								<mat-accordion
									style="border: 1px solid #dcd4d4;box-shadow: 5px 10px #888888;width: 100%">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											Display
										</mat-expansion-panel-header>
										<mat-panel-description>
											<mat-tab-group>
												<mat-tab label="HTML">
													<div class="row">
														<div class="col-sm-16">
															<textarea highlight-js>
										
<em>This is an italic text.</em>
									</textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="TS">
													<div class="row">
														<div class="col-sm-18">
															<textarea highlight-js>
import { HighlightJsModule } from 'ngx-highlight-js';
@NgModule({
  imports: [ HighlightJsModule ],
  bootstrap: [AppComponent]
})
export class AppModule {
}
        </textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="CSS">
													style here
												</mat-tab>
											</mat-tab-group>
										</mat-panel-description>
									</mat-expansion-panel>
									<mat-panel-description>
										
<em>This is an italic text.</em>
									</mat-panel-description>
								</mat-accordion>
							</mat-card-header>
						</mat-card>
					</div>
				</div>

				<div fxLayout="row wrap">
					<div fxFlex="80">
						<mat-card>
							<mat-card-header>
								<mat-accordion
									style="border: 1px solid #dcd4d4;box-shadow: 5px 10px #888888;width: 100%">
									<mat-expansion-panel>
										<mat-expansion-panel-header>
											Display
										</mat-expansion-panel-header>
										<mat-panel-description>
											<mat-tab-group>
												<mat-tab label="HTML">
													<div class="row">
														<div class="col-sm-16">
															<textarea highlight-js>
										
This is an
<span class="text-uppercase">uppercase</span>
text.
									</textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="TS">
													<div class="row">
														<div class="col-sm-18">
															<textarea highlight-js>
import { HighlightJsModule } from 'ngx-highlight-js';
@NgModule({
  imports: [ HighlightJsModule ],
  bootstrap: [AppComponent]
})
export class AppModule {
}
        </textarea>
														</div>
													</div>
												</mat-tab>
												<mat-tab label="CSS">
													style here
												</mat-tab>
											</mat-tab-group>
										</mat-panel-description>
									</mat-expansion-panel>
									<mat-panel-description>
										
This is an
<span class="text-uppercase">uppercase</span>
text.
									</mat-panel-description>
								</mat-accordion>
							</mat-card-header>
						</mat-card>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>