<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="center">
	<div fxFlex="97" style="text-align: center; font-size: 18px; font-family: Cambria;">
		<div style="float: left; width: 30%; height: 300px; background-color:#aaa;">
			<h3>Home</h3>
			<h3>About us</h3>
			<h3>Contact us</h3>
			<h3>Media</h3>
			<h3>Others</h3>
		</div>
		<div style="float: left; width: 35%; height: 300px; background-color:#bbb;">
			<h3>phone: 0091 8464044323</h3>
			<h3>Email: harish.erupothu@gmail.com<</h3> </div> <div
					style="float: left; width: 35%; height: 300px; background-color:#ccc;">
					<h3>Location</h3>
					<h3>#317</h3>
					<h3>7th block, 3rd floor</h3> 
					<h3>LIG Flats, phase 4, venture2</h3>
					<h3>KPHB</h3>
					<h3>Hyderabad</h3>
		</div>
	</div>
</div>