:host ::ng-deep .mat-tab-group {
  flex-direction: row;
}

:host ::ng-deep .mat-tab-header {
  border-bottom: none;
}

:host ::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
}

:host ::ng-deep .mat-ink-bar {
  height: 100%;
  left: 98% !important;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex: 1 1 auto;
}

:host ::ng-deep .mat-tab-label,
.mat-tab-link {
  font-size: 1vw;
  font-family: Loto;
}

.item-1 {
  background-color: red;
}

.item-2 {
  background-color: blue;
}

.item-3 {
  background-color: green;
}

.bounds {
  background-color: #ddd;
  height: 300px;
  width: 50%;
}

.content {
  background-color: pink;
  min-width: 300px;
  padding-top: 20px;
  min-height: 100%;
}
