<div fxLayout="row wrap" fxLayoutAlign="center">
	<div fxFlex="100">
		<mat-tab-group>
			<mat-tab label="Login form">
				<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
					<div fxFlex="80%" fxFlex.xs="100%">
						<mat-card style="text-align: center;padding: 100px; height: 50vh;">
							<mat-card-content>
								<div class="login-form">
									<div class="vl">
										<span class="vl-innertext">or</span>
									</div>
									<div class="col">
										<div class="facebook">
											<i class="fa fa-facebook fa-fw"></i> Login with Facebook
										</div>
										<div class="twitter">
											<i class="fa fa-twitter fa-fw"></i> Login with Twitter
										</div>
										<div class="google"><i class="fa fa-google fa-fw">
											</i> Login with Google+
										</div>
									</div>
									<div class="col">
										<div>
											<span>LOGIN</span>
										</div>
										<div class="login-input-container">
											<div class="login-input">
												<input placeholder="Enter Name" autocomplete="off" required>
												<mat-icon>people</mat-icon>
											</div>
											<div class="login-input">
												<input [type]="hide ? 'password' : 'text'" placeholder="password"
													autocomplete="off">
												<button mat-icon-button matSuffix (click)="hide = !hide">
													<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
												</button>
											</div>
										</div>
										<div>
											<button class="login-btn"> Login</button>
										</div>
										<div style="padding: 20px;">
											<a (click)="forgotPassword()"
												style="float: left;color: blue;margin-left: 50px;cursor: pointer;">forgot
												password?</a>
											<a (click)="register()"
												style="float: right;color: blue;margin-right: 50px;cursor: pointer;">create
												an
												account?</a>
										</div>
									</div>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="checkout form">
				<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="cener">
					<div fxFlex="70" fxFlex.xs="100%">
						<div style="text-align: center; margin: 10px;">
							<mat-card>
								<mat-card-content>
									<div class="ck-form-col">
										<div style="margin: 50px;">
											<span
												style="font-size: 40px; font-family: Loto;padding: 50px;margin-top: 100px;">Billing
												Address</span>
										</div>
										<div class="input-container">
											<input matInput placeholder="Full Name" autocomplete="off" class="ck-input">
											<mat-icon class="ck-icon">people
											</mat-icon>
										</div>
										<div class="input-container">
											<input matInput type="email" placeholder="Email" autocomplete="off"
												class="ck-input">
											<mat-icon class="ck-icon">email
											</mat-icon>
										</div>
										<div class="input-container">
											<input matInput type="email" placeholder="Adddress" autocomplete="off"
												class="ck-input">
											<mat-icon class="ck-icon">address
											</mat-icon>
										</div>
										<div class="input-container">
											<input matInput type="email" placeholder="City" autocomplete="off"
												class="ck-input">
											<mat-icon class="ck-icon">city
											</mat-icon>
										</div>
										<div class="input-container">
											<input matInput type="email" placeholder="State" autocomplete="off"
												class="ck-input" style="margin-right: 55px">
											<input matInput type="email" placeholder="zip" autocomplete="off"
												class="ck-input">
										</div>
									</div>
									<div class="ck-form-col">
										<div style="margin: 50px;">
											<span
												style="font-size: 40px; font-family: Loto;padding: 50px;margin-top: 100px;">Payement</span>
										</div>
										<div>
											<span>Accepted cards</span>
											<div class="icon-container">
												<i class="fa fa-cc-visa" style="color:navy;"></i>
												<i class="fa fa-cc-amex" style="color:blue;"></i>
												<i class="fa fa-cc-mastercard" style="color:red;"></i>
												<i class="fa fa-cc-discover" style="color:orange;"></i>
											</div>
										</div>
										<div class="input-container">
											<input matInput placeholder="Name on Card" autocomplete="off"
												class="ck-input">
											<mat-icon class="ck-icon">people
											</mat-icon>
										</div>
										<div class="input-container">
											<input matInput type="number" placeholder="Credit card number"
												autocomplete="off" class="ck-input">
											<mat-icon class="ck-icon">email
											</mat-icon>
										</div>
										<div class="input-container">
											<input matInput type="number" placeholder="Expr month" autocomplete="off"
												class="ck-input">
											<mat-icon class="ck-icon">email
											</mat-icon>
										</div>
										<div class="input-container">
											<input matInput type="email" placeholder="Expr Year" autocomplete="off"
												class="ck-input" style="margin-right: 55px">
											<input matInput type="email" placeholder="CVV" autocomplete="off"
												class="ck-input">
										</div>
									</div>
									<div>
										<button
											style="padding: 12px 20px; background-color: blue; border: none">Continue
											Checkout</button>
									</div>
								</mat-card-content>
							</mat-card>
						</div>
					</div>
					<div fxFlex="20" fxFlex.xs="100%">
						<div>
							<mat-card>
								<mat-card-header>
									<div style="margin: 50px;">
										<span
											style="font-size: 40px; font-family: Loto;padding: 50px;margin-top: 100px;">Cart</span>
									</div>
								</mat-card-header>
								<mat-card-content>
									<div style="padding: 20px;">
										<a href="#">Product1</a><span style="float: right;color: grey;">$15</span>
									</div>
									<div style="padding: 20px;">
										<a href="#">Product1</a><span style="float: right;color: grey;">$15</span>
									</div>
									<div style="padding: 20px;">
										<a href="#">Product1</a><span style="float: right;color: grey;">$15</span>
									</div>
									<div style="padding: 20px;">
										<a href="#">Product1</a><span style="float: right;color: grey;">$15</span>
									</div>
									<hr>
									<div style="padding: 20px;font-size: 20px;font-weight: bold;">
										<span>Total</span><span style="float: right;color: grey;">$60</span>
									</div>
								</mat-card-content>
							</mat-card>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="User Rating">
				<div fxLayout="row wrap" fxLayoutAlign="center">
					<div fxFlex="80">
						<mat-card style="height: 150vh;">
							<mat-card-header>
								<mat-card-title>
									User Rating
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star checked"></span>
									<span class="fa fa-star"></span>
									<span class="fa fa-star"></span>
								</mat-card-title>
								<mat-card-subtitle>4.1 average based on 254 reviews </mat-card-subtitle>
							</mat-card-header>
							<mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
							<mat-card-content>
								<div>
									<div class="example-section">
										<span style="font-size: 20px;margin-right: 100px;">5 Star</span>
										<mat-progress-bar [mode]="mode" value="80" style="width: 50%;">
										</mat-progress-bar>
										<div style="position: absolute; padding: 10px; color: white;"> 80% </div>
										<span style="font-size: 20px;margin-left: 100px;">300</span>
									</div>
									<div class="example-section">
										<span style="font-size: 20px;margin-right: 100px;">4 Star</span>
										<mat-progress-bar class="example-margin" [mode]="mode" value="60"
											style="width: 50%;">
										</mat-progress-bar>
										<div style="position: absolute; padding: 10px; color: white;"> 60% </div>
										<span style="font-size: 20px;margin-left: 100px;">600</span>
									</div>
									<div class="example-section">
										<span style="font-size: 20px;margin-right: 100px;">3 Star</span>
										<mat-progress-bar class="example-margin" [mode]="mode" value="50"
											style="width: 50%;">
										</mat-progress-bar>
										<div style="position: absolute; padding: 10px; color: white;"> 50% </div>
										<span style="font-size: 20px;margin-left: 100px;">100</span>
									</div>
									<div class="example-section">
										<span style="font-size: 20px;margin-right: 100px;">2 Star</span>
										<mat-progress-bar class="example-margin" [mode]="mode" value="30"
											style="width: 50%;">
										</mat-progress-bar>
										<div style="position: absolute; padding: 10px; color: white;"> 30% </div>
										<span style="font-size: 20px;margin-left: 100px;">500</span>
									</div>
									<div class="example-section">
										<span style="font-size: 20px;margin-right: 100px;">1 Star</span>
										<mat-progress-bar class="example-margin" [mode]="mode" value="10"
											style="width: 50%;">
										</mat-progress-bar>
										<div style="position: absolute; padding: 10px; color: white;"> 10% </div>
										<span style="font-size: 20px;margin-left: 100px;">300</span>
									</div>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="contact form">
				<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
					<div fxFlex="50" fxFlex.xs="100">
						<mat-card style="text-align: center;">
							<mat-card-header>
								<div style="margin: 50px;">
									<span
										style="font-size: 40px; font-family: Loto;padding: 50px;margin-top: 100px;">Contact
										us</span>
								</div>
							</mat-card-header>
							<mat-card-content>
								<div class="login-form">

									<div class="login-input-container">
										<div class="login-input">
											<input placeholder="Enter Name" autocomplete="off" required>
											<mat-icon>people</mat-icon>
										</div>
										<div class="login-input">
											<input type="email" placeholder="Email" autocomplete="off">
										</div>
										<div class="login-input">
											<textarea type="email" placeholder="Enter text" autocomplete="off"
												style="height:200px"></textarea>
										</div>

									</div>
									<div>
										<button class="login-btn"> Submit</button>
									</div>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</mat-tab>
			<!-- <mat-tab label="input text">
				<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
					<div fxFlex="50" fxFlex.xs="100">
						<mat-card style="height: 100vh;">
							<mat-card-content>
								<div>
									<div style="font-size: 40px; font-family: Loto;">
										<span>Copy To Clipboard</span>
									</div>
									<div class="copy-clipboard">
										<mat-icon (click)="copyToClipBoard(myInput)" [matTooltip]="toolTipCopy"
											(mouseout)="tooltipOut()">file_copy</mat-icon>
									</div>
									<textarea placeholder="enter text here" #myInput value=""
										style="height:200px"></textarea>
								</div>
								<div style="font-size: 40px; font-family: Loto;">
									<span>Search Expand</span>
								</div>
								<div class="search-animate">
									<input placeholder="search">
								</div>

								<div style="font-size: 40px; font-family: Loto;">
									<span>Auto complete</span>
								</div>
								<div class="search-animate">
									<input placeholder="search" [formControl]="myControl" [matAutocomplete]="auto">
									<mat-autocomplete #auto="matAutocomplete">
										<mat-option *ngFor="let item of filteredOptions | async" [value]="item">
											{{ item }}
										</mat-option>
									</mat-autocomplete>
								</div>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Indian Hierarcchy">
				<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
					<div fxFlex="70" fxFlex.xs="100">
						<mat-card>
							<mat-card-content>
								<mat-form-field appearance="outline">
									<mat-label>State</mat-label>
									<mat-select [(ngModel)]="indiaHierModel.stateName"
										(ngModelChange)="filterIndiaHierData()">
										<mat-option
											*ngFor="let item of filterIndiaHier | unique: 'stateName' | orderBy: 'stateName' "
											[value]="item.stateName">
											{{item.stateName}}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>District</mat-label>
									<mat-select [(ngModel)]="indiaHierModel.districtName"
										(ngModelChange)="filterIndiaHierData()">
										<mat-option
											*ngFor="let item of filterIndiaHier  | unique: 'districtName' | orderBy: 'districtName'"
											[value]="item.districtName">
											{{item.districtName}}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Taluk</mat-label>
									<mat-select [(ngModel)]="indiaHierModel.taluk"
										(ngModelChange)="filterIndiaHierData()">
										<mat-option
											*ngFor="let item of filterIndiaHier  | unique: 'taluk' | orderBy: 'taluk'"
											[value]="item.taluk">
											{{item.taluk}}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Village</mat-label>
									<mat-select [(ngModel)]="indiaHierModel.officeName"
										(ngModelChange)="filterIndiaHierData()">
										<mat-option
											*ngFor="let item of filterIndiaHier  | unique: 'officeName' | orderBy: 'officeName'"
											[value]="item.officeName">
											{{item.officeName}}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<mat-label>Pincode</mat-label>
									<mat-select [(ngModel)]="indiaHierModel.pincode"
										(ngModelChange)="filterIndiaHierData()">
										<mat-option
											*ngFor="let item of filterIndiaHier  | unique: 'pincode' | orderBy: 'pincode'"
											[value]="item.pincode">
											{{item.pincode}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</mat-card-content>
						</mat-card>
					</div>
				</div>
			</mat-tab> -->
		</mat-tab-group>
	</div>
</div>