<div fxLayout="row wrap" fxLayoutAlign="center">
	<div fxFlex="100">
		<mat-tab-group>
			<mat-tab label="buttons">

				<div class="alter-btn">
					<div>
						<h4>Alert buttons</h4>
					</div>
					<button style="background-color: green;">success</button>
					<button style="background-color: blue;">info</button>
					<button style="background-color: orange;">warning</button>
					<button style="background-color: red;">danger</button>
					<button style="background-color: gray;">default</button>
				</div>

				<div class="outlined_btn">
					<div>
						<h4>Outline buttons</h4>
					</div>
					<button class="success">success</button>
					<button class="info">Info</button>
					<button class="warning">Warning</button>
					<button class="danger">Danger</button>
					<button class="default">Default</button>
				</div>

				<div class="text-btn">
					<div>
						<h4>Text buttons</h4>
					</div>
					<button class="success">success</button>
					<button class="info">Info</button>
					<button class="warning">Warning</button>
					<button class="danger">Danger</button>
					<button class="default">Default</button>
				</div>
				<div>
					<div class="animation-btn">
						<div>
							<h4>Animation Effects</h4>
						</div>
						<button class="pressed">pressed effect</button>
						<button class="arrow"><span>arrow hober</span></button>
						<button class="ripple" matRipple>ripple effect</button>
						<button class="fadein">fadein</button>
						<button class="fadeout">fadeout</button>
					</div>
				</div>
				<div>
					<div class="icon-btns">
						<button><i class="fa fa-download"></i>download</button>
						<button><i class="fa fa-spinner fa-spin"></i>Loading</button>
						<button><i class="fa fa-circle-o-notch fa-spin"></i>Loading</button>
						<button><i class="fa fa-refresh fa-spin"></i>Loading</button>
						<button matBadge="8" matBadgePosition="after" matBadgeSize="large"
							matBadgeColor="accent">badge</button>
						<button><i class="fa fa-home"></i> Home</button>
						<button><i class="fa fa-bars"></i> Menu</button>
						<button><i class="fa fa-trash"></i> Trash</button>
						<button><i class="fa fa-close"></i> Close</button>
						<button><i class="fa fa-folder"></i> Folder</button>
						<button>&laquo; Previous</button>
						<button>Next &raquo;</button>
						<button>&#8249;</button>
						<button>&#8250;</button>
						<button>More<i class="fa fa-caret-down"></i></button>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="social media buttons">
				<div>
					<div class="media-icons">
						<a class="fa fa-facebook" matTooltip="facebook" matTooltipPosition="above"
							matTooltipClass="facebook-tooltip"></a>
						<a class="fa fa-twitter" matTooltip="twitter"></a>
						<a class="fa fa-google" matTooltip="google"></a>
						<a class="fa fa-linkedin" matTooltip="linkedin"></a>
						<a class="fa fa-youtube" matTooltip="youtube"></a>
						<a class="fa fa-instagram" matTooltip="instagram"></a>
						<a class="fa fa-pinterest" matTooltip="pinterest"></a>
						<a class="fa fa-snapchat-ghost" matTooltip="snapchat-ghost"></a>
						<a class="fa fa-skype" matTooltip="skype"></a>
						<a class="fa fa-android" matTooltip="android"></a>
						<a class="fa fa-dribbble" matTooltip="dribbble"></a>
						<a class="fa fa-vimeo" matTooltip="vimeo"></a>
						<a class="fa fa-tumblr" matTooltip="facebook"></a>
						<a class="fa fa-vine" matTooltip="vine"></a>
						<a class="fa fa-foursquare" matTooltip="foursquare"></a>
						<a class="fa fa-stumbleupon" matTooltip="stumbleupon"></a>
						<a class="fa fa-flickr" matTooltip="flickr"></a>
						<a class="fa fa-yahoo" matTooltip="yahoo"></a>
						<a class="fa fa-reddit" matTooltip="reddit"></a>
						<a class="fa fa-rss" matTooltip="rss"></a>
						<a class="fa fa-whatsapp" matTooltip="whatsapp"></a>
					</div>
				</div>
				<div>
					<div class="round-media-icons">
						<a class="fa fa-facebook" matTooltip="facebook" matTooltipPosition="above"
							matTooltipClass="facebook-tooltip"></a>
						<a class="fa fa-twitter" matTooltip="twitter"></a>
						<a class="fa fa-google" matTooltip="google"></a>
						<a class="fa fa-linkedin" matTooltip="linkedin"></a>
						<a class="fa fa-youtube" matTooltip="youtube"></a>
						<a class="fa fa-instagram" matTooltip="instagram"></a>
						<a class="fa fa-pinterest" matTooltip="pinterest"></a>
						<a class="fa fa-snapchat-ghost" matTooltip="snapchat-ghost"></a>
						<a class="fa fa-skype" matTooltip="skype"></a>
						<a class="fa fa-android" matTooltip="android"></a>
						<a class="fa fa-dribbble" matTooltip="dribbble"></a>
						<a class="fa fa-vimeo" matTooltip="vimeo"></a>
						<a class="fa fa-tumblr" matTooltip="facebook"></a>
						<a class="fa fa-vine" matTooltip="vine"></a>
						<a class="fa fa-foursquare" matTooltip="foursquare"></a>
						<a class="fa fa-stumbleupon" matTooltip="stumbleupon"></a>
						<a class="fa fa-flickr" matTooltip="flickr"></a>
						<a class="fa fa-yahoo" matTooltip="yahoo"></a>
						<a class="fa fa-reddit" matTooltip="reddit"></a>
						<a class="fa fa-rss" matTooltip="rss"></a>
						<a class="fa fa-whatsapp" matTooltip="whatsapp"></a>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="read more or less">
				<div class="content-card">
					<h2>Read More Read Less Button</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
						interdum, nisi lorem egestas vitae scel<span (click)="toggleMoreLess()">...</span><span
							[ngClass]="showMore?'more':'less'">erisque enim ligula
							venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce
							luctus
							vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
							In
							at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus
							gravida
							venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
							porta.</span></p>
				</div>
			</mat-tab>
			<mat-tab label="scroll to top">
				<button (click)="scrolTotop()"
					[ngClass]="scrolNumber>100?'show-on-scroll':'hide-on-scroll'">Top</button>

				<div style="background-color:black;color:white;padding:30px" id="myscrollDiv">Scroll Down</div>
				<div style="background-color:lightgrey;padding:30px 30px 2500px">This example demonstrates how to create
					a "scroll to top" button that becomes visible
					<strong>when the user starts to scroll the page</strong>.</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>