<div fxLayout="column" fxLayout.xs="column">
	<div>
		<mat-card style="height: 20vh; background-color: darkcyan;">
			<div style="margin-top: 1%; font-size: larger; color: gainsboro; font-weight: bold;">
				<img mat-card-avatar [style.backgroundImage]="'url(../../../../assets/images/people/harish2.jpg)'"
					class="image-style">
				<span> ERUPOTHU HARISH
					<button mat-raised-button color="primary" style="float: right; margin: 1%;"> Follow </button>
					<button mat-raised-button color="primary" style="float: right; margin: 1%;"> Send Message </button>
				</span>
			</div>
		</mat-card>
	</div>
</div>
<div fxLayout="column" fxLayout.xs="column">
	<div fxFlex="100" fxFlex.xs="100">
	<mat-tab-group>
		<mat-tab label="About">
			<div fxLayout="row wrap" fxLayout.xs="column">
				<div fxFlex="50" fxFlex.xs="100">
					<mat-card style="padding: 0px; margin: 20px">
						<mat-card-header style="background-color: blue; color: gainsboro;">
							<mat-card-title> General Information</mat-card-title>
						</mat-card-header>
						<mat-card-content style="padding: 1vw;font-size: 17px; font-family: Loto;color: grey">
							<table>
								<tr>
									<th>Name: </th>
									<td> Harish</td>
								</tr>
								<tr>
									<th>Gender: </th>
									<td> Male</td>
								</tr>
								<tr>
									<th>Birthday: </th>
									<td> 25 Aug 1990</td>
								</tr>
								<tr>
									<th>Location: </th>
									<td> Kukatpalli, Hyderabad 500032</td>
								</tr>
								<tr>
									<th>About: </th>
									<td>
										<p>
											Born in orthodox family in Nellore district Andhra Pradesh, educations
											started in bangalore, hyderabad and finished M-tech in IIT CSE Department.
										</p>
									</td>
								</tr>
							</table>
						</mat-card-content>
					</mat-card>
					<mat-card style="padding: 0px; margin: 20px">
						<mat-card-header style="background-color: blue; color: gainsboro;">
							<mat-card-title> Work </mat-card-title>
						</mat-card-header>
						<mat-card-content  style="padding: 1vw;font-size: 17px; font-family: Loto;color: grey">
							<table>
								<tr>
									<th>Occupation: </th>
									<td> Software Engineer </td>
								</tr>
								<tr>
									<th>Skills: </th>
									<td>
										<p>
											Java, Pyhton, Matlab, Spring Boot framework, Django, Javascript, Typscript,
											AngularJs, Angular, Amazon Web Services, Ubuntu OS, Windows OS
										</p>
									</td>
								</tr>
								<tr>
									<th>Job: </th>
									<td>
										<div>
											<div><span> Next Education India (Software Engineer in R & D)</span> <span> 2015-2018</span></div>
											<div><span> Vaya Fin serv (Technology Analyst & mciroservice architect)</span> <span> 2018-2019</span></div>
										</div>
									</td>
								</tr>
							</table>
						</mat-card-content>
					</mat-card>
					<mat-card style="padding: 0px; margin: 20px">
						<mat-card-header style="background-color: blue; color: gainsboro;">
							<mat-card-title> Contact</mat-card-title>
						</mat-card-header>
						<mat-card-content  style="padding: 1vw;font-size: 17px; font-family: Loto;color: grey">
							<table>
								<tr>
									<th>Address: </th>
									<td> Kukatpally, Hyderabad 500072</td>
								</tr>
								<tr>
									<th>Phone: </th>
									<td> 0091 8464044323</td>
								</tr>
								<tr>
									<th>Website: </th>
									<td> evrservice.com</td>
								</tr>
								<tr>
									<th>Email: </th>
									<td> evrservice@gmail.com</td>
								</tr>
								<tr>
									<th>Others: </th>
									<td> harish.erupothu@facebook.com, harish.erupothu@twitter.com</td>
								</tr>
							</table>
						</mat-card-content>
					</mat-card>
				</div>
				<div fxFlex="30" fxFlex.xs="100">
					<mat-card style="padding: 0px; margin: 20px">
						<mat-card-header style="background-color: blue; color: gainsboro;">
							<mat-card-title> Friends </mat-card-title>
						</mat-card-header>
						<mat-card-content>
							<div style="padding: 3%;">
								<img [style.backgroundImage]="'url(../../../../assets/images/people/female_photo.jpeg)'"
									class="image-style2">
								<img [style.backgroundImage]="'url(../../../../assets/images/people/felamle_photo2.jpeg)'"
									class="image-style2">
								<img [style.backgroundImage]="'url(../../../../assets/images/people/female_photo3.jpeg)'"
									class="image-style2">
								<img [style.backgroundImage]="'url(../../../../assets/images/people/male_photo1.jpeg)'"
									class="image-style2">
								<img [style.backgroundImage]="'url(../../../../assets/images/people/male_photo2.jpeg)'"
									class="image-style2">
								<img [style.backgroundImage]="'url(../../../../assets/images/people/male_photo3.jpeg)'"
									class="image-style2">
							</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Gallery">
			<div fxLayout="row wrap" fxLayout.xs="column">
				<div fxFlex="80" fxFlex.xs="100">
					<mat-card>
						<mat-card-content>
							<div style="padding: 3%;">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature1.jpeg)'"
									class="image-gallery">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature2.jpeg)'"
									class="image-gallery">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature3.jpeg)'"
									class="image-gallery">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature4.jpeg)'"
									class="image-gallery">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature5.jpeg)'"
									class="image-gallery">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature6.jpeg)'"
									class="image-gallery">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature7.jpeg)'"
									class="image-gallery">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature8.jpeg)'"
									class="image-gallery">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature9.jpeg)'"
									class="image-gallery">
								<img [style.backgroundImage]="'url(../../../../assets/images//nature/nature10.jpeg)'"
									class="image-gallery">
							</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Timeline">
			<div fxLayout="row" fxLayout.xs="column">
				<div fxFlex="40" fxFlex.xs="100">
					<mat-card style="margin: 5%;">
						<mat-card-header>
							<img mat-card-avatar [style.backgroundImage]="'url(../../../../assets/images/people/male_photo3.jpeg)'" class="image-style3">
							<mat-card-title>Harish.e</mat-card-title>
							<mat-card-subtitle>32 minutes ago</mat-card-subtitle>
						</mat-card-header>
						<mat-card-content>
							<img mat-card-image [style.backgroundImage]="'url(../../../../assets/images//nature/nature10.jpeg)'" height="300" width="100">
							<div>
								<mat-icon>favorite</mat-icon> Likes(5)  <mat-icon>share</mat-icon> Share(21)
							</div>
							<span>comments </span>
							<div>
								<textarea></textarea>
							</div>
							<div>
								<button mat-raised-button >Post comment</button>
							</div>
						</mat-card-content>
					</mat-card>

					<mat-card style="margin: 5%;">
						<mat-card-header>
							<img mat-card-avatar [style.backgroundImage]="'url(../../../../assets/images/people/male_photo3.jpeg)'" class="image-style3">
							<mat-card-title>Harish.e</mat-card-title>
							<mat-card-subtitle>32 minutes ago</mat-card-subtitle>
						</mat-card-header>
						<mat-card-content>
							<img mat-card-image [style.backgroundImage]="'url(../../../../assets/images//nature/nature10.jpeg)'" height="300" width="100">
							<div>
								<mat-icon>favorite</mat-icon> Likes(5)  <mat-icon>share</mat-icon> Share(21)
							</div>
							<span>comments </span>
							<div>
								<textarea></textarea>
							</div>
							<div>
								<button mat-raised-button >Post comment</button>
							</div>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</mat-tab>
	</mat-tab-group>
	</div>
</div>