.image-style {
	height: 100px;
    width: 100px;
    background-size: cover;
}

.image-style2 {
	height: 80px;
    width: 80px;
	background-size: cover;
	margin: 2%;
}

.image-style3 {
	height: 50px;
    width: 50px;
    background-size: cover;
}

.image-gallery {
	height: 200px;
    width: 200px;
	background-size: cover;
}

.image-gallery2 {
	height: 100px;
    width: 100px;
	background-size: cover;
}