login-form span {
  font-size: 40px;
  font-weight: bold;
  font-family: Loto;
  text-align: center;
}

.login-input {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.login-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

mat-icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  height: 45px;
  margin-top: 8px;
}

.login-btn {
	text-align: center;
  width: 100px;
  padding: 12px 20px;
  margin: 80x;
  border: none;
  background-color: blue;
}